{% extends 'news/default.html' %}

{% block content %}
    <h1>Make an appointment</h1>
        <form action="{% url 'mails:mails' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <label for="client_name">Your name</label>
            <br>
            <input type="text" name="client_name"><br>
        <label for="message"> message </label>
            <br>
            <input type="text" name="message"><br>
            <br>
        <label for="date">Choose time</label>
            <br>
            <input type="date" name="date"><br>
            <br>
        <input type="submit">
        </form>
{% endblock %}