{% extends 'news/default.html' %}



{% block content %}
    <div class="alert alert-warning mt-2">
      <h1>Список новостей</h1>
      <ul>
        {% for news_item in news_list %}
        <li>
          <a href="{% url 'news_detail' news_item.id %}">{{ news_item.title }}</a>
          ({{ news_item.pub_date|date:"d.m.Y" }}): {{ news_item.text|slice:":20" }}
        </li>
        {% endfor %}
      </ul>
    </div>

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url 'page=1' %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock %}