{% extends 'news/default.html' %}

<!-- Фильтры -->
{% load custom_filters %}

<!-- Теги -->
{% load custom_tags %}

{% block content %}
<h1><a href="{% url 'mails:celery' %}">Celery</a></h1>
    {% load cache %}
    {% cache 100 number %}
    <div class="alert alert-warning mt-2">
      <h1>Список новостей</h1>

        {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
        <form action="" method="get">
            {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
            {{ filterset.form.as_p }}
            {# Добавляем кнопку отправки данных форму #}
            <input type="submit" value="Найти">
        </form>

      <ul>
        {% for news_item in news_list %}
        <li>
          <a href="{% url 'mails:news_detail' news_item.id %}">{{ news_item.title }}</a>
          ({{ news_item.pub_date|date:"d.m.Y" }}): {{ news_item.text|slice:":20" }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endcache %}

  {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock %}
