{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script type="text/javascript" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>newsed_page</title>
</head>
<body>
    <div class="container mt-5 d-flex justify-content-center">

            <div class="card p-3">

                <div class="d-flex align-items-center">

                    <div class="image">
                <img src="{% static 'photos/i.jpg' %}" class="rounded" width="155" >
                </div>

                <div class="ml-3 w-100">

                   <h4 class="mb-0 mt-0">Asadullah Imaraliev</h4>
                   <span>Senior Programmer</span>

                   <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                    <div class="d-flex flex-column">

                        <span class="articles">Articles</span>
                        <span class="number1">18</span>

                    </div>

                    <div class="d-flex flex-column">

                        <span class="followers">Followers</span>
                        <span class="number2">980</span>

                    </div>


                    <div class="d-flex flex-column">

                        <span class="rating">Rating</span>
                        <span class="number3">8.9</span>

                    </div>

                   </div>


                   <div class="button mt-2 d-flex flex-row align-items-center">

                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button>
                    <a href="{% url 'mails:news_list' %}"><button class="btn btn-sm btn-primary w-100 ml-2">Задачи</button></a>


                   </div>


                </div>


                </div>

            </div>

         </div>
</body>
</html>